/* LAYOUT */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --color-text-dark: #333;
    --color-text-light: #fff;
    --color-primary: #2f80ed;
    --color-primary-darker: #2568c7;
    --color-secondary: #f2f4f7;
    --color-secondary-darker: #e0e0e0;
    --color-secondary-lighter: #FAFCFF;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--color-text-dark);
    line-height: 1.5;
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

.add-link {
    color: var(--color-primary);
}

.error-message {
    background-color: #ffe5e5;
    color: #b30000;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b30000;
    border-radius: 4px;
}

/* HEADER */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: 1rem;
}

.header img {
    max-height: 60px;
}

.header nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.header nav ul li a {
    text-decoration: none;
    color: unset;
    font-weight: bolder;
    margin-left: 2rem;
}

.header nav ul li a:hover {
    color: var(--color-primary);
}

.header nav ul li a.active-link {
    color: var(--color-primary);
}

/* FORMS AND INPUTS */
form {
    margin-bottom: 2rem;
}

input, select, textarea {
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
    border: 1px solid var(--color-secondary-darker);
    border-radius: 4px;
    min-width: 160px;
    font-family: inherit;
}

input::placeholder {
    color: var(--color-text-dark);
}

button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    cursor: pointer;
}

button:hover {
    background-color: var(--color-primary-darker);
}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.crud-group {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 200px 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;
    width: 70%;
}

.form-buttons {
    grid-column: 1 / -1;
    display: flex;
    justify-content:end;
    gap:1rem;
    margin-top: 1rem;
}

.btn-secondary {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 4px;
    background-color: var(--color-secondary);
    color: var(--color-text-dark);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--color-secondary-darker);
}

/* TABLES */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    border: 1px solid var(--color-secondary-darker);
}

table th, table td {
    padding: 0.6rem 0.8rem;
    border-bottom: 1px solid var(--color-secondary-darker);
    text-align: left;
    font-size: 0.9rem;
}

table th {
    background-color: var(--color-secondary);
    font-weight: 600;
}

table tr:hover {
    background-color: var(--color-secondary-lighter);
}

/* DETAILS */
.details-container {
    display: flex;
    justify-content: space-between;
}

.assessment {
    margin: 2rem 0;
    padding: 0.5rem 0.6rem;
    border: 1px solid var(--color-secondary-darker);
    border-radius: 4px;
    width: 27%;
}

.assessment h3 {
    margin-bottom: 0.5rem;
}

/* NOTES */

.notes-container div, .add-note {
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
    border: 1px solid var(--color-secondary-darker);
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.notes-container div p, .add-note * {
    margin: 0.5rem;
}

.add-note {
    display: flex;
    flex-direction: column;
}